.container {
	p {
		height: 40px;
		width: 40px;
		line-height: 40px;
		text-align: center;
		background: #626cb4;
		color: #fff;
		border-radius: 5px;
		cursor: pointer;
		transition: all 0.1s linear;
	}

	p:hover {
		background: #1b3f99;
	}

	p.active {
		background: #0b3ec2;
	}
}
