.container {
}

.label {
	font-size: 2.8rem;
	color: #fff;
	padding: 24px 0;
	text-align: center;
}

.categoryList {
	p {
		color: #fff;
		cursor: pointer;
		padding-bottom: 8px;
		border-bottom: 1px solid transparent;
	}

	p.active {
		border-bottom: 1px solid #fff;
	}

	p:hover {
		border-bottom: 1px solid #fff;
	}
}
