.inputContainer {
	position: relative;
}

.inputContainer.error {
	.label.choice {
		color: #f35111;
	}
}

.inputContainer.active {
	.label:not(.choice) {
		top: -12px;
		background: linear-gradient(to bottom, #3e3e3f, #3e3e3f, #494949, #494949);
		color: #0089fe;
	}

	.input:not([type='radio']):not([type='checkbox']) {
		border: 1px solid #0089fe;
	}
}

.label {
	position: absolute;
	left: 12px;
	top: 11px;
	padding: 0 4px;
	font-size: 1.35rem;
	color: #dfdfdf;
	font-weight: 400;
	transition: all 0.1s linear;
}

.label.choice {
	position: initial;
	font-size: 1.5rem;
}

.input:not([type='radio']):not([type='checkbox']) {
	background: transparent;
	height: 100%;
	width: 100%;
	color: #fff;
	padding: 12px 12px 12px 12px;
	background: #494949;
	border: 1px solid #747474;
	border-radius: 8px;
}

.errorMess {
	font-size: 1.3rem;
	color: #f35111;
}

.button {
	background: #0089fe;
	color: #fff;
	cursor: pointer;
	padding: 8px 12px;
	min-width: 80px;
	border-radius: 8px;

	&:hover {
		background: #0473d4;
	}
}
